<app-admin-navbar></app-admin-navbar>

<div class="container">
  <form
    class="form"
    [formGroup]="blogForm"
    (ngSubmit)="uploadBlog()"
    novalidate
  >
    <div class="field">
      <input
        type="text"
        placeholder="enter blog title"
        formControlName="title"
      />
      <p class="invalid" *ngIf="title?.touched && title?.errors?.['required']">
        blog title required
      </p>
    </div>
    <div class="field">
      <select formControlName="category">
        <option value="news" selected>news</option>
        <option value="cinema">cinema</option>
        <option value="education">education</option>
        <option value="review">review</option>
      </select>
      <p
        class="invalid"
        *ngIf="category?.touched && category?.errors?.['required']"
      >
        blog category required
      </p>
    </div>
    <div class="field">
      <div class="image-section">
        <img [src]="url" alt="" />
      </div>
      <input
        type="file"
        accept="image/png, image/gif, image/jpeg, image/jpg, image/webp"
        (change)="onChange($event)"
      />
    </div>
    <div class="field">
      <textarea placeholder="blog content" formControlName="content"></textarea>
      <p
        class="invalid"
        *ngIf="content?.touched && content?.errors?.['required']"
      >
        blog content required
      </p>
    </div>
    <div class="field">
      <button type="submit" [disabled]="blogForm.invalid">UPLOAD BLOG</button>
    </div>
    <p class="response" *ngIf="uploadStatus">
      {{ uploadStatus }}
    </p>
    <p class="error" *ngIf="errorStatus">
      {{ errorStatus }}
    </p>
  </form>
</div>
