.nav {
  height: 75px;
  padding: 1rem;
  width: 100%;
  background-color: #000;
  color: #fff;
  position: relative;
  display: flex;
}
.nav div {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section {
  display: flex;
}
.nav div h1 {
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.nav div a {
  right: 10px;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  width: 125px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-transform: capitalize;
}

.urls {
  width: 100%;
  display: flex;
  justify-content: center;
}

.urls .nav-links {
  display: flex;
  overflow: scroll;
  flex-wrap: nowrap;
}

.urls .nav-links > * {
  text-decoration: none;
  color: #000;
  margin: 15px;
  cursor: pointer;
}

.urls .nav-links::-webkit-scrollbar {
  display: none;
}

.urls .nav-links .active {
  color: #139447;
  font-weight: 600;
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .nav div {
    width: 100% !important;
  }
  .nav div a {
    width: 75px;
    height: 30px;
  }
  .urls .nav-links > * {
    margin: 10px;
  }
}
